body {
  font-family: 'Raleway', sans-serif;
  background-color: #e7e7e7;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.wrapper {
  width: 800px;
  height: 600px;
  position: relative;
  margin: 3% auto;
  box-shadow: 2px 18px 70px 0px #9D9D9D;
  overflow: hidden;
}

.login-text {
  width: 800px;
  height: 450px;
  background: linear-gradient(to left, #ab68ca, #de67a3);
  position: absolute;
  top: -300px;
  box-sizing: border-box;
  padding: 6%;
  transition: all 0.5s ease-in-out;
  z-index: 11;
}

.text {
  margin-left: 20px;
  color: #fff;
  display: none;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.3s;
  a, a:visited {
    font-size: 36px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
  }
  hr {
    width: 10%;
    float: left;
    background-color: #fff;
    font-size: 16px;
  }
  input {
    margin-top: 30px;
    height: 40px;
    width: 300px;
    border-radius: 2px;
    border: none;
    background-color: #444;
    opacity: 0.6;
    outline: none;
    color: #fff;
    padding-left: 10px;
  }
  input[type=text] {
    margin-top: 60px;
  }
  button {
    margin-top: 60px;
    height: 40px;
    width: 140px;
    outline: none;
  }
  .login-btn {
    background: #fff;
    border: none;
    border-radius: 2px;
    color: #696a86;
  }
  .signup-btn {
    background: transparent;
    border: 2px solid #fff;
    ;
    border-radius: 2px;
    color: #fff;
    margin-left: 30px;
  }
}

.cta {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #696a86;
  border: 2px solid #fff;
  position: absolute;
  bottom: -30px;
  left: 370px;
  color: #fff;
  outline: none;
  cursor: pointer;
  z-index: 11;
}

.call-text {
  background-color: #fff;
  width: 800px;
  height: 450px;
  position: absolute;
  bottom: 0;
  padding: 10%;
  box-sizing: border-box;
  text-align: center;
  h1 {
    font-size: 42px;
    margin-top: 10%;
    color: #696a86;
    span {
      color: #333;
      font-weight: bolder;
    }
  }
  button {
    height: 40px;
    width: 180px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to left, #ab68ca, #de67a3);
    color: #fff;
    font-weight: bolder;
    margin-top: 30px;
    cursor: pointer;
    outline: none;
  }
}

.show-hide {
  display: block;
}

/*.expand {
  transform: translateY(300px);
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
*/
